html
  font-size: 18px
  line-height: 1.5em
  word-spacing: 1px
  -ms-text-size-adjust: 100%
  -webkit-text-size-adjust: 100%
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased
  box-sizing: border-box

body
  @apply bg-coal font-serif text-white text-left

a
  transition: color 400ms ease-in-out, background 300ms ease-in-out
  @apply underline inline-block leading-tight px-1

  &:hover
    @apply text-coal bg-yellow

p
  display: block
  padding: .5em 0
  font-size: 1rem
  line-height: 1.56rem

h1,
h2
  line-height: 1.2em
  @apply font-sans font-bold

h1
  font-size: 2.8rem
  margin-bottom: 1rem

h2
  font-size: 2rem

.content
  ul
    padding: 1em 0 1em 1em

    li
      list-style-type: '>'
      padding: .2em 0 .2em .5em

  ol
    padding: 1em 0 1em 1em

    li
      list-style-type: decimal
