@tailwind base
@tailwind components
@tailwind utilities

// FLEXBOX STUFF

.flex-basis-50
  flex-basis: 50px

.flex-basis-100
  flex-basis: 100px

.flex-basis-150
  flex-basis: 150px

.flex-basis-200
  flex-basis: 200px

.transition-all
  transition: all 200ms ease-in-out
  transform-origin: center

.scale-70
  transform: scale(0.7)

.scale-100
  transform: scale(1)

.scale-130
  transform: scale(1.3)
