<template>
  <div class="flex items-center flex-grow">
    <button
      title="Hold to clap"
      class="border-white border p-2 rounded hover:border-yellow relative"
      @mousedown="startClap"
      @mouseup="stopClap"
    >
      <div
        class="flex flex-row items-center pointer-events-none justify-between"
      >
        <div>
          <ClapSVG class="h-12" alt="Clapping Hands" />
        </div>
        <div class="text-center ml-4 w-10">
          {{ currentCounter }}
        </div>
      </div>
    </button>

    <div class="ml-4">
      <transition
        enter-active-class="transition-all"
        leave-active-class="transition-all"
        enter-class="scale-70"
        enter-to-class="opacity-1 scale-100"
        leave-class="opacity-1 scale-100"
        leave-to-class="scale-130 opacity-0"
      >
        <span
          v-show="newCountVisible"
          class="text-sm text-gray-900 inline-block w-12 rounded-lg bg-yellow text-center"
          >+ {{ newCount }}</span
        >
      </transition>
    </div>
  </div>
</template>

<script>
import debounce from 'lodash/debounce'
import ClapSVG from '@/assets/svg/clap.svg'

const speedMap = {
  slow: 300,
  medium: 100,
  fast: 40,
}

export default {
  components: {
    ClapSVG,
  },

  props: {
    id: {
      type: String,
      required: true,
    },
  },

  data() {
    return {
      currentCounter: 0,
      newCount: 0,
      newCountVisible: false,
      newCountBuffer: 0,
      clickMeta: {
        start: undefined,
        timeout: undefined,
        holdTimeout: undefined,
        lastSpeed: undefined,
      },
    }
  },

  async mounted() {
    try {
      const postMetaResponse = await fetch(
        `/.netlify/functions/get-post-meta/${this.id}`
      )
      const postMeta = await postMetaResponse.json()
      this.currentCounter = postMeta.data.claps
    } catch (e) {
      // eslint-disable-next-line no-console
      console.error(
        'This Error happend when trying to fetch the original post meta.',
        e
      )
    }
  },

  methods: {
    holdCounter() {
      if (this.clickMeta.lastSpeed !== 'fast') {
        const now = new Date()
        const diff = now - this.clickMeta.start

        if (diff > 2500) this.clickMeta.lastSpeed = 'fast'
        else if (diff > 1000) this.clickMeta.lastSpeed = 'medium'
        else this.clickMeta.lastSpeed = 'slow'
      }

      this.clickMeta.holdTimeout = setTimeout(() => {
        this.newCount++
        this.holdCounter()
      }, speedMap[this.clickMeta.lastSpeed])
    },

    startClap() {
      this.clickMeta.start = new Date()
      this.newCountVisible = true
      this.newCount = 1
      this.clickMeta.timeout = setTimeout(this.holdCounter, 500)
    },

    stopClap() {
      for (const key of ['timeout', 'holdTimeout']) {
        clearTimeout(this.clickMeta[key])
        this.clickMeta[key] = undefined
      }
      for (const key of ['start', 'lastSpeed']) {
        this.clickMeta[key] = undefined
      }
      this.newCountVisible = false
      this.currentCounter = this.currentCounter + this.newCount
      this.newCountBuffer = this.newCountBuffer + this.newCount

      this.syncClaps()
    },

    syncClaps: debounce(
      async function () {
        const claps = this.newCountBuffer
        this.newCountBuffer = 0
        const postMetaResponse = await fetch(
          `/.netlify/functions/update-post-meta/${this.id}`,
          {
            body: JSON.stringify({ claps }),
            method: 'POST',
          }
        )
        const postMeta = await postMetaResponse.json()
        this.currentCounter = postMeta.data.claps
      },
      500,
      { maxWait: 2000 }
    ),
  },
}
</script>
