<template>
  <div>
    <header>
      <h1>{{ title }}</h1>
    </header>

    <div class="text-gray-700 italic py-2">
      <nuxt-link
        :to="`/p/${slug}`"
        class="not-italic no-underline hover:no-underline hover:bg-transparent"
        title="Unique url for this post"
        >⛓</nuxt-link
      >
      -- Published {{ published }} --
      <Tags :tags="tags" />
    </div>

    <!-- eslint-disable vue/no-v-html -->
    <figure v-if="image" class="my-2">
      <img :src="image.url" :alt="title" />
      <figcaption class="text-gray-700 italic text-sm text-right">
        Photo by: <span v-html="image.author" />
      </figcaption>
    </figure>

    <article v-html="content" />
    <!-- eslint-enable -->
    <div>
      <Clapper :id="id" />
    </div>
  </div>
</template>

<script>
import Prism from 'prismjs'
import MD from 'markdown-js'
import Tags from '~/components/tags'
import Clapper from '~/components/clapper'

export default {
  components: { Tags, Clapper },
  props: {
    post: {
      type: Object,
      default: () => {},
    },
  },

  data() {
    return {
      ...this.post.attributes,
      content: MD.markdown(this.post.body),
    }
  },

  mounted() {
    Prism.highlightAll()
  },
}
</script>

<style lang="sass">
article
  p
    @apply my-2
  h2
    @apply mt-8 mb-4
</style>
