<template>
  <div class="p-1">
    <nuxt-link
      :to="`/p/${post.slug}`"
      class="block border no-underline hover:border-transparent hover:no-underline border-gray-700 rounded-lg p-6"
    >
      <h3 class="text-xl" v-text="post.title" />
      <div class="text-gray-700 italic py-2 text-sm">
        Published {{ post.published }} -- <Tags :tags="post.tags" />
      </div>
    </nuxt-link>
  </div>
</template>

<script>
import Tags from '~/components/tags'
export default {
  name: 'PostCard',

  components: {
    Tags,
  },

  props: {
    post: {
      type: Object,
      required: true,
    },
  },
}
</script>

<style lang="scss" scoped></style>
