<template>
  <div>
    <header class="text-white flex flex-row">
      <div class="flex-1 p-4 flex items-center">
        <a href="/" class="no-underline hover:bg-transparent">
          <PageLogo />
        </a>
        <nuxt-link :to="`/posts`">All Posts</nuxt-link>
      </div>
      <ul class="text-right flex-row flex font-sans">
        <li class="p-4">
          <a href="https://twitter.com/codebryo" target="_blank">twitter</a>
        </li>
        <li class="p-4">
          <a href="https://gitlab.com/codebryo" target="_blank">gitlab</a>
        </li>
        <li class="p-4">
          <a href="https://github.com/codebryo" target="_blank">github</a>
        </li>
        <li class="p-4">
          <a href="/feed.xml">rss</a>
        </li>
      </ul>
    </header>
    <div class="flex justify-center">
      <nuxt />
    </div>
  </div>
</template>

<script>
import PageLogo from '@/assets/svg/logo.svg'

export default {
  components: {
    PageLogo,
  },
}
</script>

<style lang="sass" scoped>
#logo
  width: 150px
  min-width: 80px

header
  background-color: rgba(#272727, .8)
  position: fixed
  width: 100%
  max-width: 80em
  transform: translateX(-50%)
  left: 50%
</style>
