<template>
  <Content>
    <Post v-cloak :post="latestPost" />

    <div v-if="recentPosts.length" class="py-6">
      <h2 class="text-gray-700 mb-10">Recent Posts</h2>
      <div class="flex flex-col">
        <PostCard
          v-for="rpost in recentPosts"
          :key="rpost.slug"
          :post="rpost"
        />
      </div>
    </div>
  </Content>
</template>

<script>
/* eslint no-console: 'off' */
import Content from '~/components/content'
import Post from '~/components/post'
import PostCard from '~/components/post_card'
import graph from '~/static/graph.json'
import { sortPostsByDate, pickFirstPost, pickRecentPosts } from '~/utils'

export default {
  components: {
    Content,
    Post,
    PostCard,
  },

  data() {
    const sortedPosts = sortPostsByDate(graph.posts)

    return {
      latestPost: pickFirstPost(sortedPosts),
      recentPosts: pickRecentPosts(sortedPosts),
    }
  },
}
</script>
