<template>
  <Content>
    <h1>All Posts</h1>

    <div v-if="posts" class="py-6 flex flex-col">
      <PostCard
        v-for="post in posts"
        :key="post.slug"
        :post="post.attributes"
      />
    </div>
  </Content>
</template>

<script>
import Content from '~/components/content'
import PostCard from '~/components/post_card'
import graph from '~/static/graph.json'
import { sortPostsByDate } from '~/utils'

const sortedPosts = sortPostsByDate(graph.posts)

export default {
  components: {
    Content,
    PostCard,
  },

  data() {
    return {
      posts: sortedPosts,
    }
  },
}
</script>
